.main {
    // height: 100vh;
    border-radius: 20px;
    padding: 5px 20px;

}

.button {
    text-align: center;
    margin-top: 20px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
 
}