<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="general.css">
</head>
<body>
    <div>
        <a href="/index">home</a>
        <a href="/profile">profile</a>
        <a href="/sigin">sigin</a>
    </div>
    <h1>helle world
    </h1>
</body>
</html>